/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}




    /* 1. 2 Column Grid 0px - 599px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    50.0%
    Span 2:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 599px) {
        
        .col {
            margin-left:0%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:100.0%;
        }
    }

    /* 2. 1 Column Grid 600px - 919px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 600px) and (max-width: 919px) {
        
        .col {
            margin-left:0%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            margin-left:0;
            width:49%;
        }

        .span_2 {
            margin-left: 0;
            width: 50%;
        }
    }

    /* 3. 3 Column Grid 920px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    33.3333333333%
    Span 2:    66.6666666667%
    Span 3:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 920px) {
        
        .col {
            margin-left:0%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:33.3333333333%;
        }
        .span_2 {
            width:66.6666666667%;
        }
        .span_3 {
            margin-left:0;
            width:100%;
        }
    }
